<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>자유게시판</title>

<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

<!-- Google fonts-->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Diphylleia&family=Gowun+Dodum&family=Nanum+Gothic&family=Nanum+Myeongjo&display=swap" rel="stylesheet">
<style type="text/css">
body{
	font-family: "Gowun Dodum", sans-serif;
	font-weight: 400;
	font-style: normal;
}
table{	
	width: 100%;
	text-align: center;
}
.main{
	padding-top: 90px;
}
.container{
	margin: 0;
	padding: 0;
}
.table{
	text-align: center;
}
.title{
	text-align: left;
}
</style>
</head>
<body>
	<th:block th:insert="~{menu.html :: head}">	</th:block>
	<th:block th:insert="~{menu.html :: menu}">	</th:block>
	
	<div class="container">
		<div class="main">
			<span th:text="${#lists.size(fb)}"></span>
			
			<div th:if="${#lists.size(fb) le 0}">
				<h1>출력 데이터 없음</h1>
			</div>
			<div th:unless="${#lists.size(fb) le 0}">
				<span>이름</span>
				<span>[[${cateName}]]</span>
				<div class="table">
					<div class="row" th:each="row:${fb}">
						<div class="col-1">[[${row.mtno}]]</div>
						<div class="col-6" th:onclick="|location.href='@{/detail(no=${row.mtno})}'|">[[${row.mttitle }]]</div>
						<div class="col-2">[[${row.mname }]]</div>
						<div class="col-2">[[${row.mtdate }]]</div>
						<div class="col-1">[[${row.mtread }]]</div>
					</div>
				</div>
			</div>
				<th:block th:if="${session.mid ne null}">
					<button type="button" class="btn btn-primary" th:onclick="|location.href='@{/write(cate=${param.cate})}'|">글쓰기</button>
					<button type="button" th:with="cate=${fb[0].mtcate}" class="btn btn-primary" th:onclick="|location.href='@{/write(cate=${cate})}'|">글쓰기</button>
				</th:block>
		</div>
	</div>
</body>
</html>