@charset "UTF-8";
body{
	font-family: "Gowun Dodum", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.w1{
	width: 10%;
}
.w2{
	width: 20%;	
}
.title{
	text-align: left;
	width: 50%;
}
.title > a {
	text-decoration: none;
}
.title > a {
	color: black;
}
.title > a:hover {
	color: skyblue;
	text-shadow: 0.3px 0.3px blue;
}
.badge{
	background-color: skyblue;
}
.vh-500{
	height: 500px;
}
.pagings a{
	text-decoration: none;
	color: black;
	font-size: medium;
}
.pagings a:hover{
	color: skyblue;
	font-weight: bold;
	text-shadow: 1px 1px black;
}
strong{
	color: skyblue;
	text-shadow: 1px 1px black;
}
.arrows{
}
table{
	width: 100%;
}
.writeBtn{
	margin-top: 10px;
}