<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- resultType은 결과로 나오는 값의 데이터타입을 물어보는것 -->
  <mapper namespace="member">
  	<select id="memberList" resultType="MemberDTO"> 
  		SELECT * from member
  	</select>
  	
  	<select id="memberList2" resultType="Map">
  		SELECT * FROM member
  	</select>
  </mapper>