<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoshi.web.dao.IndexDAO">
	
	<select id="freeBoard" resultType="BoardDTO" parameterType="int">
		SELECT b.mtno, b.mttitle,  
		if(DATE_FORMAT(NOW(), '%Y-%m-%d')= DATE_FORMAT(mtdate,'%Y-%m-%d'),
		DATE_FORMAT(mtdate,'%H:%i'), DATE_FORMAT(mtdate,'%Y-%m-%d')) AS mtdate
		, b.mtcate, b.mtread, m.mname FROM multiboard b JOIN member m ON m.mno = b.mno
		WHERE mtcate = ${cate} AND mtdel = 1 ORDER BY mtno DESC LIMIT 0,10 
	</select>
	
	<select id="detail" parameterType="int" resultType="BoardDTO">
		SELECT b.mtno, b.mttitle, b.mtcontent, b.mtip, b.mtread, b.mtcate, m.mname,
		if(DATE_FORMAT(NOW(), '%Y-%m-%d')= DATE_FORMAT(mtdate,'%Y-%m-%d'),
		DATE_FORMAT(mtdate,'%H:%i'), DATE_FORMAT(mtdate,'%Y-%m-%d')) AS mtdate 
		FROM multiboard b JOIN member m ON b.mno = m.mno
		WHERE b.mtdel=1 AND b.mtno = #{no}
	</select>	
	
	<insert id="write" parameterType="Map">
	INSERT INTO multiboard (mttitle, mtcontent, mno, mtip, mtcate) VALUES (#{title},#{content},(SELECT mno FROM member WHERE mid = #{mid}),#{mtip},#{mtcate}) 
	</insert>
	
	<update id="postDel" parameterType="int">
		UPDATE multiboard SET mtdel = 0 WHERE mtno = #{no}
	</update>
	
</mapper>